<div class="btn-group">
	<%= link_to "All Users", users_path, :class => "btn" %>
	<%= link_to "All Posts", posts_path, :class => "btn" %>
	<%= link_to "All Products", products_path, :class => "btn" %>
	<%= link_to "All Comments for Products", comments_path, :class => "btn" %>
	<%= link_to "Create Post", new_post_path, :class => "btn" %>
	<%= link_to "Create User", new_user_path, :class => "btn" %>
	<%= link_to "Create Product", new_product_path, :class => "btn" %>
</div>