<!DOCTYPE html>
<html>
<head>
  <title>Lifelist4</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="boxed">
<!-- error messages for devise -->
<!--    <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p> -->
<!-- end error messages for devise -->

<!-- open box -->
<!-- 	<div id="box">	 -->
	<!-- check if user is signed in -->
	<div class="pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %> |
		  <%= link_to "Login", new_user_session_path %>
		<% end %>
	</div>	
	<!-- end user sign in check -->
<%= yield %>
	<!-- end box div -->
<!-- 	</div> -->
</body>
</html>
