<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @milestone.description %>
</p>

<p>
  <b>Details:</b>
  <%= @milestone.details %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
