<h2>Edit user information</h2>

<!-- <form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<p>
		<label>First Name: </label> 
		<input type="text" name="user[first_name]" value="<%= @user.first_name %> ">
	</p>
	<p>
		<label>Last Name: </label>
		<input type="text" name="user[last_name]" value=" <%= @user.last_name %> ">
	</p>
	<p>
		<label>Email Address: </label> 
		<input type="text" name="user[email_address]" value="<%= @user.email_address %> ">
	</p>
	<p>
		<label>Password </label> 
		<br />
		<label>New Password: </label> <input type="text" name="user[password]">
	</p>
	<input type="submit" value="Update"> -->

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, label: 'Change first_name ?' %>
  <%= f.input :last_name, label: 'Change last_name ?' %>
  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.input :email_address, placeholder: 'user@domain.com' %>
  <%= f.button :submit %>
<% end %>


</form>
