<h1>Basic 3</h1>

<table class="table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Action</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

<% @users.each do |user| %>
		<tr>
			<td><a href="users/<%= user.id %>"><%= user.first_name %>  <%= user.last_name %> </a></td>
			<td><%= user.email_address %></td>
			<td>
				<a href="/users/<%= user.id %>/edit" class="btn btn-warning">Edit user</a>
			</td>
			<td>	
				<form action="/users/<%= user.id %>" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type="submit" value="delete" class="btn btn-danger">
					<input type="hidden" name="_method" value="delete">
				</form>
			</td>
		</tr>	
	<% end %>
	</tbody>
</table>
<p>	
	<a href="users/new" class="btn btn-primary">Create new User</a>
</p>